
body .ui-datatable .ui-datatable-data > tr > td {
    padding: 1rem 1rem;
}

.topbar {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.layout-menu {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.layout-content {
    padding: 10px !important;
}

html {
    overflow: scroll;
}
